body {
    font-family: Arial, sans-serif;
    background: url(quiz.jpg);
    background-size:cover;
    padding: 100px;
}
h1{
    color: #fff;
}
#quiz-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    width: 500px;
    height: 600px;
    box-sizing: border-box;
    border: 1px solid;
    position: relative;
}
#question {
    font-size: 24px;
    margin-bottom: 20px;
    color:azure;
}
#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:azure
}
.option {
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius:20px ;

}
.option:hover {
    background-color:rgb(28, 117, 50);
}
#score{
    font-size: 30px;
    color: #fff;
}